<template>
  <div>
    <h3>New Incident</h3>
    <div class="row">
      <div class="col-md-8">
        <form class="form-inline">
          <div class="form-row">
            <div class="form-group">
              <label class='control-label'>Name</label>
              <input autoComplete="off" class="form-control" placeholder="Incident Name" type="text"/>
              <div class="help-block">This incident will be posted to page.</div>
            </div>
          </div>

          <div class="form-row">
            <label class="control-label">Status</label>
            <br/>
            <label class="radio-inline">
              <input type="radio" name="status"/> Investigating
            </label>
            <label class="radio-inline">
              <input type="radio" name="status"/> Identified
            </label>
            <label class="radio-inline">
              <input type="radio" name="status"/> Monitoring
            </label>
            <label class="radio-inline">
              <input type="radio" name="status"/> Resolved
            </label>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label class="control-label">Message</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-success pull-right" @click="saveIncident">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</template>


<script>
  export default {
    methods: {
      saveIncident () {
        this.$router.push('/incidents')
      }
    }
  }
</script>

<style>


</style>
