<template>
  <div>
    <div class="row">
      <div class="col-md-10"><h2>Incidents</h2></div>
      <div class="col-md-2 marginTop">
        <button type="button" class="btn btn-success pull-right">New Incident</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div v-for="incident in incidents">
          <div class="stack-row" v-bind:class="incident.status" >
            <h4>{{incident.name}}</h4>
            <div class="row">
              <div class="col-md-10 greyText">Last updated 3 days ago. Mar 20, 2017 - 16:11 UTC</div>
              <div class="col-md-2 text-right"><a href="">Update</a> | <a href="">Delete</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    computed: mapGetters({
      incidents: 'allIncidents'
    }),
    created () {
      this.$store.dispatch('getIncidents')
    }
  }
</script>

<style>

</style>
