<template>
  <div>
    <div class="row">
      <div class="col-md-10"><h2>Components</h2></div>
      <div class="col-md-2 marginTop">
        <button type="button" class="btn btn-success pull-right" @click="newComponent">New Component</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="stack-row">
          <div class="row">
            <div class="col-md-10"><h4>First Component</h4></div>
            <div class="col-md-2 text-right"><a href="">Edit</a> | <a href="">Delete</a></div>
          </div>
        </div>

        <div class="stack-row">
          <div class="row">
            <div class="col-md-10"><h4>Second Component</h4></div>
            <div class="col-md-2 text-right"><a href="">Edit</a> | <a href="">Delete</a></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>


<script>
export default {
  methods: {
    newComponent () {
      this.$router.push('/components/new')
    }
  }
}
</script>

<style>

</style>
