body {
  padding-top: 50px;
}

.stack-row {
  padding: 10px;
  margin: 10px 0px 0px 0px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.stack-row .hdrTxt {
  font-weight: Bold;
}

.marginTop {
  margin: 20px 0px 0px 0px;
}


.investigating {
  border-left-color: #1b809e;
}

.identified {
  border-left-color: #1b809e;
}

.monitoring {
  border-left-color: #aa6708;
}

.resolved {
  border-left-color: #1b809e;
}
