<template>
  <div>
    <h3>Customize Page</h3>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5">
            <label>Body Background Color</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="ffffff" />
            </div>
            <div class="stack-help-block">Background color of your status page</div>
          </div>
          <div class="col-md-5">
            <label>Font Color</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="333333" />
            </div>
            <div class="stack-help-block">Primary font color of your status page</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Light Font Color</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="AAAAAA" />
            </div>
            <div class="stack-help-block">Secondary font color of your status page</div>
          </div>
          <div class="col-md-5">
            <label>Greens</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="2fcc66" />
            </div>
            <div class="stack-help-block">Green used when there are no issues</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Yellows</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="f1c40f" />
            </div>
            <div class="stack-help-block">Yellow used when there is degraded service</div>
          </div>
          <div class="col-md-5">
            <label>Oranges</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="e67e22" />
            </div>
            <div class="stack-help-block">Orange used when there are minor outages</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Reds</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="e74c3c" />
            </div>
            <div class="stack-help-block">Red used when there are major outages</div>
          </div>
          <div class="col-md-5">
            <label>Blues</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="3498DB" />
            </div>
            <div class="stack-help-block">Blue used when there are components under maintenance</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Link Color</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="3498db" />
            </div>
            <div class="stack-help-block">Color used for links and buttons</div>
          </div>

          <div class="col-md-5">
            <label>Border Color</label>
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input type="text" class="form-control" placeholder="E0E0E0" />
            </div>
            <div class="stack-help-block">Border color used around components and public metrics</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-row">
          <div class="form-group">
            <label class='control-label'>Headline</label>
            <input autoComplete="off" class="form-control" placeholder="Incident Name" type="text" />
            <div class="help-block">Text will appear at the top of your page.</div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="control-label">About This Page</label>
            <textarea class="form-control"></textarea>
          </div>
        </div>

      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success pull-right">Save</button>
    </div>
  </div>
</template>

<script>
  export default {
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .greyText {
    color: #afafaf;
  }

  .marginTop {
    margin: 20px 0px 0px 0px;
  }

  .stack-help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 10px;
  }
</style>
