<template>
 <div>Dashboard</div>
</template>

<script>
  import HeaderNav from './HeaderNav'
  import SideNav from './SideNav'

  export default {
    components: {
      'header-nav': HeaderNav,
      'side-nav': SideNav
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
