<template>
  <div class="row">
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <header-nav></header-nav>
      <side-nav></side-nav>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import HeaderNav from './HeaderNav'
  import SideNav from './SideNav'

  export default {
    components: {
      'header-nav': HeaderNav,
      'side-nav': SideNav
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
