<template>
  <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item"><router-link class="nav-link active"  to="/dashboard" exact>Dashboard</router-link></li>
      <li class="nav-item"><router-link class="nav-link" to="/incidents">Incidents</router-link></li>
      <li class="nav-item"><router-link class="nav-link" to="/components">Components</router-link></li>
      <li class="nav-item"><router-link class="nav-link" to="/customize">Customize Page</router-link></li>
    </ul>
  </nav>
</template>


<script>
  export default {
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
  }

  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar .nav-link {
    border-radius: 0;
  }

</style>
